- name: leaf - Configure VRFs
  nvidia.nvue.vrf:
    commands:
      - "vrf {{ item.name }}"
      - "vrf {{ item.name }} vni {{ item.l3vni }}"
    state: merged
  loop:
    - "{{ vrf_prod }}"
    - "{{ vrf_preprod }}"

- name: Configure VLANs and L2VNIs
  nvidia.nvue.interface:
    commands:
      - "interface vlan{{ item.id }}"
      - "interface vlan{{ item.id }} vxlan vni {{ item.l2vni }}"
    state: merged
  loop: "{{ vlans }}"

- name: Configure BGP on leafs
  nvidia.nvue.router:
    commands:
      - "router bgp {{ bgp_as }}"
      - "router bgp {{ bgp_as }} router-id {{ ansible_default_ipv4.address }}"
      - "router bgp {{ bgp_as }} neighbor {{ hostvars[item]['ansible_default_ipv4']['address'] }} remote-as {{ bgp_as_spines }}"
    state: merged
  loop: "{{ groups['spines'] }}"
