#Fichier Template: templates/frr/leaf.j2


! FRR configuration for {{ hostname }}
log syslog informational

route-map UNDERLAY_LO permit 10
  match interface lo

vrf {{ evpn_vrf.name }}
        vni {{ evpn_vrf.l3vni }}
        exit-vrf

router bgp {{ bgp_asn }}
  bgp router-id {{ router_id }}
  timers bgp {{ bgp_timers }}
  no bgp default ipv4 unicast
  bgp log-neighbor-changes
  bgp bestpath as-path multipath-relax
  
  neighbor {{ peer_group_name }} peer-group
  neighbor {{ peer_group_name }} advertisement-interval {{ bgp_advertisement_interval }}
  neighbor {{ peer_group_name }} remote-as external
  neighbor {{ peer_group_name }} capability extended-nexthop
  
  {% for intf in spine_interfaces %}
  neighbor {{ intf.name }} interface peer-group {{ peer_group_name }}
  {% endfor %}

  address-family ipv4 unicast
    redistribute connected route-map UNDERLAY_LO
    neighbor {{ peer_group_name }} activate
  exit-address-family

  address-family l2vpn evpn
    neighbor {{ peer_group_name }} activate
    advertise ipv4 unicast
    advertise-all-vni
    advertise-svi-ip
  exit-address-family

router bgp {{ bgp_asn }} vrf {{ evpn_vrf.name }}
  {% for vlan_id, vlan_data in vlans.items() %}
  rd {{ router_id }}:{{ vlan_data.vni }}
  {% endfor %}
  
  {% for vlan_id, vlan_data in vlans.items() %}
  route-target import {{ route_targets[vlan_data.vni].import }}
  route-target export {{ route_targets[vlan_data.vni].export }}
  {% endfor %}

  address-family ipv4 unicast
    redistribute connected
    redistribute static
  exit-address-family